*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: 9vh 1fr;
    height: 100vh;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #bef0aa;
}

header #logo{
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header #logo img{
    height: 8vh;
}

header div:nth-child(2){
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header div:nth-child(2) nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

header div:nth-child(2) nav ul li a{
    text-decoration: none;
    color: rgb(60 105 70);
    font-size: 1.2rem;
    font-family: "ADLaM Display", system-ui;
}

arearticle{
    width: 100%;
    background-color: #e6f4d4;
}

arearticle section:first-child{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

arearticle section div #banenr{
    width: 90%;
    height: 20vh;
    border: 1px solid red;
    overflow: hidden;
}

arearticle section div #banenr img{
    width: 100%;
}