*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: 9vh 1fr;
    height: 100vh;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #bef0aa;
}

header #logo{
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header #logo img{
    height: 8vh;
}

header div:nth-child(2){
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header div:nth-child(2) nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

header div:nth-child(2) nav ul li a{
    text-decoration: none;
    color: rgb(60 105 70);
    font-size: 1.2rem;
    font-family: "ADLaM Display", system-ui;
}

arearticle{
    width: 100%;
    background-color: #e6f4d4;
}

arearticle section:first-child{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vh 0;
}

arearticle section:first-child div .icon{
    position: absolute;
   z-index: 2;
}

arearticle section div #banenr{
    width: 94vw;
    height: 20vh;
    overflow: hidden;
}

arearticle section div #banenr div{
    width: 100%;
    height: 100%;
    position: relative;
}

arearticle section div #banenr img{
    width: 100%;
}

arearticle section div #banenr h1{
    position: absolute;
    top: 24vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #558e62;
    font-size: 5rem;
    font-family: "ADLaM Display", system-ui;
    letter-spacing: 2px;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}