*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

htlm{
    scrollbar-gutter: stable;
}

body{
    display: grid;
    grid-template-rows: 9vh 1fr;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #bef0aa;
}

header #logo{
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header #logo img{
    height: 8vh;
}

header div:nth-child(2){
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header div:nth-child(2) nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

header div:nth-child(2) nav ul li a{
    text-decoration: none;
    color: rgb(60 105 70);
    font-size: 1.2rem;
    
}

/* Main Content */
arearticle{
    width: 100%;
    background-color: #e6f4d4;
}

arearticle section{
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

arearticle section:first-child{
    width: 100%;
}

arearticle section:first-child div .icon{
    position: absolute;
    z-index: 2;
}

arearticle section:first-child div .icon span{
    font-size: 6vh;
    color: #558e62;
    cursor: pointer;
}

arearticle section:first-child .icon:nth-child(2){
    right: 0px;
}

arearticle section div #banenr{
    width: 100vw;
    height: 36vh;
    overflow: hidden;
}

arearticle section div #banenr div{
    width: 100%;
    height: 100%;
    position: relative;
}

arearticle section div #banenr img{
    width: 100%;
}

arearticle section div #banenr h1{
    position: absolute;
    top: 26vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #558e62;
    font-size: 7rem;
    font-family: "ADLaM Display", system-ui;
    letter-spacing: 2px;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

section.content .lista{
    display: grid;
	-webkit-display: grid;
	grid-template-columns: repeat(5, 1fr);
}

section.content .lista .item{
	height: 210px;
	width: 250px;
	grid-template-rows: 80% 20%;
	align-items: center;
    display: grid;
	background-color: white;
	border-radius: 20px;
	text-align: center;
	box-shadow: 4px 5px 10px 2px #c7d0bb;
	-webkit-box-shadow: 4px 5px 10px 2px #c7d0bb;
	margin: 28px;
}

/* Footer */

footer{
    width: 100%;
    height: 8vh;
    background-color: #bef0aa;
    display: flex;
    align-items: center;
    justify-content: center;
}